* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
}

.header {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.globe {
    margin-bottom: -3px;
}

.main-div {
    display: flex;
    justify-content: center;
}

.card {
    margin: 40px;
    display: flex;
    gap: 17px;
    max-width: 800px;
}

.place-img {
    max-width: 125px;
    height: 170px;
}

.span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.location-dot {
    width: 7px;
    height: 9.55px;
    color: #F55A5A;
}

h3, .g-map {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 17%;
}

h3 {
    color: #2B283A;
}

.g-map {
    color: #918E9B;
}

.loc {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.3px;
    color: #2B283A;
}

.date {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #2B283A;
}

.description {
    font-weight: 400;
    font-size: 10px;
    line-height: 15.4px;
    color: #2B283A;
    max-width: 600px;
}

hr {
    max-width: 410px;
    border: 1px solid #F5F5F5;
}